* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid grey; */
  color: white;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

h1 {
  font-size: 3.5rem;
  font-style: italic;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

body {
  background-size: cover;
  background: rgb(1,76,77);
  background: linear-gradient(14deg, rgba(1,76,77,1) 0%, rgba(4,91,126,1) 21%, rgba(50,41,94,1) 67%, rgba(73,18,85,1) 100%);
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

header button {
  margin-left: 0;
}

#headerTitle {
  align-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  color: white;
  border: white solid 1px;
  background-color: slategray;
  cursor: pointer;
}
.btnPref{
  width:20%; height:20%;
  margin:3%;
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  color: white;
  border: white solid 1px;
  background-color:slategray;
  cursor: pointer;

}
.form-btn {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  color: white;
  border: white solid 1px;
  background-color: slategray;
  cursor: pointer;
}

.form-btn:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.form-btn:active {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 1px 1px grey inset;
}

/* Submit and cancel buttons on form section  */

.btn {
  margin: 1rem 30rem;
}

.btn:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.btn:active {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 1px 1px grey inset;
}

.hide {
  display: none;
}

.about-section {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  
  
}

.form-container {
  /* background-color: rgb(255,255,255, 0.3);
    border: 1px solid white; */
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

form {
  font-size: 1.5rem;
  margin: 0 15rem;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

form input {
  margin: 0rem 2.5rem;
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid white;
  height: 2.5rem;
}

/* Horoscope form styling */
.starsigndropdown {
  margin: 0rem 2.5rem;
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid white;
  height: 2.5rem;
}

/* Horoscope dropdown option styling */
.signoption {
  background-color: rgba(50,41,94);
}

.form-label {
  margin: 1rem;
}

.btn-section {
  display: inline-block;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 0 1rem 0;
  margin: 0rem 2.5rem;
}

.btn-section button {
  margin: 0rem 10rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  color: white;
  border: white solid 1px;
  background-color: slategrey;
}

.main-display {
  font-size: 1.5rem;
  margin: 2.5rem 15rem;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

/*footer {
  background-color: rgb(255, 255, 255, 0.1);
 display: flex;
  justify-content: center;
   position: absolute;
  padding: 1.5rem 0rem;
  border: 1px solid white;
    height: auto;
      bottom: 0;
  width: 100%;
}*/

footer p{
 /* position: absolute;*/
  font-size:large;
  text-align: center;
  padding-bottom: 1%;
  bottom: 0;
  margin: 0 40%;
  height: auto; 
}